html, *, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  max-width: 100%; }

.header {
  background-image: linear-gradient(to bottom right, #f8f9fa, #0d6efd, #212529);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0 100%);
  height: 200px; }

h2 {
  width: 100%;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 80px;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 0;
  padding: 30px; }

.container {
  position: relative; }

#warenkorb {
  display: none;
  box-sizing: content-box;
  margin: 0;
  padding: 15px;
  color: #fff;
  background-color: #020202;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  box-shadow: 2px 2px 4px #000000;
  width: 100px;
  overflow: scroll; }
  #warenkorb img {
    display: none;
    position: relative;
    width: 0; }
  #warenkorb .btn {
    position: relative;
    float: left;
    background-color: black; }
  #warenkorb *:not(button) {
    width: 100%;
    font-size: 100%; }
  #warenkorb h3 {
    margin-bottom: 10px; }
  #warenkorb .container .gekauft {
    overflow: scroll; }

#sortiment {
  min-height: 300px; }
  #sortiment div {
    background-color: white;
    width: 300px;
    height: 400px;
    float: left; }
    #sortiment div.anzahl {
      display: none; }
    #sortiment div .summe {
      display: none; }
    #sortiment div .buttondiv {
      width: 100%; }
    #sortiment div img:hover, #sortiment div img div {
      box-shadow: 2px 2px 4px #000000;
      cursor: pointer; }

.gekauft {
  width: 10%; }

#div {
  float: left;
  width: 50%; }
